@(field: models.Field)

@import helper._

@main("New field"){

  <div class="container">
    <h1 class="text-muted">New field</h1>
    <hr/>

    <form id="formField" action="javascript:test();">

      <div class="form-group">
        <label for="name">Label</label>
        <input type="text" class="form-control" name="label" id="label" placeholder="Enter label" required value = "@field.getLabel">
      </div>


      <div class="form-group">
        <label for="typeField">Sample combobox</label>

        <select class="form-control" id="typeField" name="typeField">
        @for(fType <- FieldType.values()){
          <option value="@fType.name"
          @if(field.getFieldType == fType){
            selected
          }
          >
          @fType.name()
          </option>
        }
        </select>
      </div>


      <div class="form-group">
        <label for="options">Options</label>
        <textarea id="options" name="options" class="form-control">@field.optionsValue()</textarea>
      </div>

      <div class="form-group">
        <label for="typeField">Required</label>
        <input type="checkbox" id="required" name="required" value="true"
        @if(field.getRequired){
          checked
        }
        >
        Required
      </div>

      <div class="form-group">
        <label for="typeField">Is Active</label>
        <input type="checkbox" id="active" name="active" value="true"
        @if(field.getActive){
          checked
        }
        >
        Is Active
      </div>


      <button type="submit" class="btn btn-success " >Add</button>
    </form>
  </div>

  <script type="text/javascript" charset="utf-8" src="@routes.FieldController.getAjaxJs()"></script>

}